<!-- Start header -->
<header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/">
                <img src="../assets/images/favicon.ico" alt="" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbars-host">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" [ngClass]="{'active': activeMenuItemService.activeHome}">
                        <a class="nav-link" (click)="activeMenuItemService.activateHome()" routerLink="/home">Home</a>
                    </li>
                    <li class="nav-item" [ngClass]="{'active': activeMenuItemService.activeAbout}">
                        <a class="nav-link" (click)="activeMenuItemService.activateAbout()" routerLink="/aboutUs">About Us</a>
                    </li>
                    <li class="nav-item" [ngClass]="{'active': activeMenuItemService.activeCourses}">
                        <a class="nav-link" (click)="activeMenuItemService.activateCourses()" routerLink="/courses">Courses</a>
                    </li>
                    <li class="nav-item"
                        *ngIf="authenticationService.isUserStudent() || authenticationService.isUserTeacher()"
                        [ngClass]="{'active': activeMenuItemService.activatemyCourses}">
                        <a class="nav-link" (click)="activeMenuItemService.activateMyCourses()" routerLink="/myCourses">MyCourses</a>
                    </li>
                    <li class="nav-item"
                        *ngIf="authenticationService.isUserTeacher()"
                        [ngClass]="{'active': activeMenuItemService.activeMyStudents}">
                        <a class="nav-link" (click)="activeMenuItemService.activateMyStudents()" routerLink="/myStudents">MyStudents</a>
                    </li>
                    <li class="nav-item"
                        *ngIf="authenticationService.isUserStudent()"
                        [ngClass]="{'active': activeMenuItemService.activeMyTeachers}">
                        <a class="nav-link" (click)="activeMenuItemService.activateMyTeachers()" routerLink="/myTeachers">MyTeachers</a>
                    </li>
                    <li class="nav-item" [ngClass]="{'active': activeMenuItemService.activeBlog}">
                        <a class="nav-link" (click)="activeMenuItemService.activateBlog()" routerLink="/blog">Blog</a>
                    </li>
                    <li class="nav-item"
                        [ngClass]="{'active': activeMenuItemService.activeTeachers}"
                        *ngIf="authenticationService.isUserAdmin()">
                        <a class="nav-link" (click)="activeMenuItemService.activateTeachers()" routerLink="/teachers">Teachers</a>
                    </li>
                    <li class="nav-item"
                        [ngClass]="{'active': activeMenuItemService.activeStudents}"
                        *ngIf="authenticationService.isUserAdmin()">
                        <a class="nav-link" (click)="activeMenuItemService.activateStudents()" routerLink="/students">Students</a>
                    </li>
                    <li class="nav-item"
                        [ngClass]="{'active': activeMenuItemService.activeRegistrations}"
                        *ngIf="authenticationService.isUserAdmin()">
                        <a class="nav-link" (click)="activeMenuItemService.activateRegistrations()" routerLink="/registrations">Registrations</a>
                    </li>
                    <li class="nav-item"
                        [ngClass]="{'active': activeMenuItemService.activeBookers}"
                        *ngIf="authenticationService.isUserAdmin()">
                        <a class="nav-link" (click)="activeMenuItemService.activateBookers()" routerLink="/bookers">Bookers</a>
                    </li>
                    <li class="nav-item" [ngClass]="{'active': activeMenuItemService.activePricing}">
                        <a class="nav-link" (click)="activeMenuItemService.activatePricing()" routerLink="/pricing">Pricing</a>
                    </li>
                    <li class="nav-item" [ngClass]="{'active': activeMenuItemService.activeContact}">
                        <a class="nav-link" (click)="activeMenuItemService.activateContact()" routerLink="/contact">Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" *ngIf="!authenticationService.isUserLoggedIn()">
                    <li><a class="hover-btn-new log orange" routerLink="/identification"><span>Identification</span></a></li>
                </ul>
                <!-- <ul class="nav navbar-nav navbar-right mr-2" *ngIf="authenticationService.isUserStudent()">
                    <li><a class="hover-btn-new log orange" routerLink="/identification"><span>Book Now</span></a></li>
                </ul> -->
                <ul class="nav navbar-nav navbar-right" *ngIf="authenticationService.isUserLoggedIn()">
                    <li><a class="hover-btn-new log orange" routerLink="/logout"><span>Logout</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End header -->


<router-outlet></router-outlet>


<app-footer></app-footer>