<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>About US</h3>
                    </div>
                    <p> We are NoLimits, an online education school. We offer the best academic eduction program for our students to get the best job opportunities. we also give a job to poeple who are able to teach some subjects and act as instructors and mentors for a better education environment.</p>   
                    <div class="footer-right">
                        <ul class="footer-links-soi">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-github"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>						
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Information Link</h3>
                    </div>
                    <ul class="footer-links">
                        <li [ngClass]="{'active': activeMenuItemService.activeHome}">
                            <a (click)="activeMenuItemService.activateHome()" routerLink="/home">Home</a>
                        </li>
                        <li [ngClass]="{'active': activeMenuItemService.activeBlog}">
                            <a (click)="activeMenuItemService.activateBlog()" routerLink="/blog">Blog</a>
                        </li>
                        <li [ngClass]="{'active': activeMenuItemService.activePricing}">
                            <a (click)="activeMenuItemService.activatePricing()" routerLink="/pricing">Pricing</a>
                        </li>
                        <li [ngClass]="{'active': activeMenuItemService.activeAbout}">
                            <a (click)="activeMenuItemService.activateAbout()" routerLink="/aboutUs">About</a>
                        </li>
                        <li [ngClass]="{'active': activeMenuItemService.activeContact}">
                            <a (click)="activeMenuItemService.activateContact()" routerLink="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Contact Details</h3>
                    </div>

                    <ul class="footer-links">
                        <li><a href="mailto:#">NoLimits@educationschool.com</a></li>
                        <li><a href="#">www.NoLimitseducationschool.com</a></li>
                        <li>40 Rue Hedi Cheker - Menzel Bourguiba 7050 - Bizerte - Tunisia</li>
                        <li>+216 26 928 458</li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</footer>

<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <div class="footer-center">                   
                <p class="footer-company-name">All Rights Reserved. &copy; 2020 <a href="#">Education School</a> Design By : <a href="https://github.com/rabiihlioui/educationSchool">Rabii Hlioui</a></p>
            </div>
        </div>
    </div>
</div>