<div class="all-title-box">
    <div class="container text-center">
        <h1>Teachers<span class="m_1">Lorem Ipsum dolroin gravida nibh vel velit.</span></h1>
    </div>
</div>

<div id="teachers" class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12" *ngFor="let teacher of manageTeachersService.teachersList">
                <div class="our-team">
                    <app-teacher [teacher]="teacher"></app-teacher>
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->	