<div class="tab-pane" id="Registration">
    <form #regisForm="ngForm" role="form" class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-12">
                <input
                    #firstname="ngModel"
                    class="form-control"
                    id="firstname"
                    placeholder="First Name"
                    type="text"
                    name="firstname"
                    minlength="3"
                    maxlength="15"
                    ngModel
                    required>
                <div
                    class="alert alert-danger"
                    *ngIf="firstname.invalid && firstname.touched"
                >
                    <div *ngIf="firstname.errors.required">
                        First Name is required.
                    </div>
                    <div *ngIf="firstname.errors.minlength">
                        First Name must be at least 3 characters long.
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <input
                    #lastname="ngModel"
                    class="form-control"
                    id="lastname"
                    placeholder="Last Name"
                    type="text"
                    name="lastname"
                    minlength="3"
                    maxlength="15"
                    ngModel
                    required>
                <div
                    class="alert alert-danger"
                    *ngIf="lastname.invalid && lastname.touched"
                >
                    <div *ngIf="lastname.errors.required">
                        Last Name is required.
                    </div>
                    <div *ngIf="lastname.errors.minlength">
                        Last Name must be at least 3 characters long.
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <input
                    #email="ngModel"
                    class="form-control"
                    id="email"
                    placeholder="Email"
                    name="email"
                    email
                    ngModel
                    required>
                <div
                    class="alert alert-danger"
                    *ngIf="email.invalid && email.touched"
                >
                    Invalid Email, example foulen@domain
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <input
                    #password="ngModel" 
                    class="form-control"
                    id="password"
                    placeholder="Password"
                    type="password"
                    name="password"
                    minlength="5"
                    ngModel
                    required>
                <div
                    class="alert alert-danger"
                    *ngIf="password.invalid && password.touched"
                >
                    <div *ngIf="password.errors.required">
                        Password is required.
                    </div>
                    <div *ngIf="password.errors.minlength">
                        Password must be at least 5 characters long.
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <input
                    #cin="ngModel" 
                    class="form-control"
                    id="cin"
                    placeholder="Identity Card"
                    type="number"
                    name="cin"
                    [pattern]="cinPattern"
                    ngModel
                    required>
                <div
                    class="alert alert-danger"
                    *ngIf="cin.invalid && cin.touched"
                >
                    <div *ngIf="cin.errors.required">
                        Identity Card is required.
                    </div>
                    <div *ngIf="cin.errors.pattern">
                        Identity Card must be 8 characters long.
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <input
                    #age="ngModel"
                    class="form-control"
                    id="age"
                    placeholder="Age"
                    type="number"
                    name="age"
                    [pattern]="agePattern"
                    ngModel
                    required>
                <div
                    class="alert alert-danger"
                    *ngIf="age.invalid && age.touched"
                >
                    <div *ngIf="age.errors.required">
                        Age is required.
                    </div>
                    <div *ngIf="age.errors.pattern">
                        Age must be 10 and 99 years old.
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" style="margin-left: 16px; margin-right: 16px;">
            <div class="col-sm-12 form-control">
                <label class="radio-inline mr-3">
                    <input
                        #status="ngModel"
                        type="radio"
                        id="status"
                        value="student"
                        name="status"
                        (change)='selectedStatus=$event.target.value'
                        ngModel
                        required>
                    Student
                </label>
                <label class="radio-inline">
                    <input
                        #status="ngModel"
                        type="radio"
                        id="status"
                        value="teacher"
                        name="status"
                        (change)='selectedStatus=$event.target.value'
                        ngModel
                        required>
                    Teacher
                </label>
            </div>
            <div
                class="alert alert-danger"
                *ngIf="status.invalid && status.touched"
            >
                <div *ngIf="status.errors.required">
                    Status is required.
                </div>
            </div>
        </div>
        <div class="row">							
            <div class="col-sm-10">
                <button
                    type="button"
                    class="btn btn-outline-success btn-lg mr-3"
                    [disabled]="regisForm.invalid"
                    (click)="handleRegistration(regisForm)"
                    routerLink="/home">
                    Register &amp; Start Your Journey
                </button>
                <button type="reset" class="btn btn-outline-secondary btn-lg">
                    Cancel</button>
            </div>
        </div>
    </form>
</div>