<div>
    <div class="all-title-box">
        <div class="container text-center">
            <h1>Bookers</h1>
        </div>
    </div>

    <div id="bookersMenu" tabindex="-1"  aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-body customer-box">
                     <ul class="nav nav-tabs">
                        <li class="center" (click)="displayTeachers()">
                            <a [ngClass]="{'active': activeTeachersTab}" class="centertext">
                                Teachers
                            </a>
                        </li>
                        <li class="center" (click)="displayStudents()">
                            <a [ngClass]="{'active': activeStudentsTab}" class="centertext">
                                Students
                            </a>
                        </li>
                     </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="bookers" class="section wb">
        <div class="container">
            <div *ngIf="teachersBookersFlag">
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Occupation</th>
                            <th>Identity Card</th>
                            <th>Age</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let teacherBooker of teacherBookersList">
                            <td>{{teacherBooker.firstname}}</td>
                            <td>{{teacherBooker.lastname}}</td>
                            <td>{{teacherBooker.email}}</td>
                            <td>{{teacherBooker.occupation}}</td>
                            <td>{{teacherBooker.cin}}</td>
                            <td>{{teacherBooker.age}}</td>
                            <td>
                                <input type="image"
                                       src="./assets/images/icons8-approval-50.png"
                                       name="approveBtn"
                                       id="approveBtn"
                                       (click)="approveTeacherBooker(teacherBooker)"
                                       style="margin-right: 20px;"/>
                                <input type="image"
                                       src="./assets/images/icons8-delete-50.png"
                                       name="rejectBtn"
                                       id="rejectBtn"
                                       (click)="rejectTeacherBooker(teacherBooker)"/>
                            </td>
                        </tr>         
                    </tbody>
                </table>
            </div>

            <div *ngIf="studentsBookersFlag">
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Occupation</th>
                            <th>Identity Card</th>
                            <th>Age</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let studentBooker of studentBookersList">
                            <td>{{studentBooker.firstname}}</td>
                            <td>{{studentBooker.lastname}}</td>
                            <td>{{studentBooker.email}}</td>
                            <td>{{studentBooker.occupation}}</td>
                            <td>{{studentBooker.cin}}</td>
                            <td>{{studentBooker.age}}</td>
                            <td>
                                <input type="image"
                                       src="./assets/images/icons8-approval-50.png"
                                       name="approveBtn"
                                       id="approveBtn"
                                       (click)="approveStudentBooker(studentBooker)"
                                       style="margin-right: 20px;"/>
                                <input type="image" 
                                       src="./assets/images/icons8-delete-50.png"
                                       name="rejectBtn"
                                       id="rejectBtn"
                                       (click)="rejectStudentBooker(studentBooker)"/>
                            </td>
                        </tr>         
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

