<div tabindex="-1"  aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header tit-up">
                <h3 class="modal-title">Add Teacher Form</h3>
            </div>
            <div class="modal-body customer-box">
                <div class="tab-content">
                    <form #addStudentForm="ngForm">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstname">First Name</label>
                                <input #firstname="ngModel"
                                       type="text"
                                       class="form-control"
                                       name="firstname"
                                       id="firstname"
                                       aria-describedby="firstname"
                                       placeholder="Enter Student First Name"
                                       minlength="3"
                                       maxlength="15"
                                       ngModel
                                       required>
                                <div
                                    class="alert alert-danger"
                                    *ngIf="firstname.invalid && firstname.touched"
                                >
                                    <div *ngIf="firstname.errors.required">
                                        First Name is required.
                                    </div>
                                    <div *ngIf="firstname.errors.minlength">
                                        First Name must be at least 3 characters long.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="lastname">Last Name</label>
                                <input #lastname="ngModel"
                                       type="text"
                                       class="form-control"
                                       name="lastname"
                                       id="lastname"
                                       aria-describedby="lastname"
                                       placeholder="Enter Student Last Name"
                                       minlength="3"
                                       maxlength="15"
                                       ngModel
                                       required>
                                <div
                                    class="alert alert-danger"
                                    *ngIf="lastname.invalid && lastname.touched"
                                >
                                    <div *ngIf="lastname.errors.required">
                                        Last Name is required.
                                    </div>
                                    <div *ngIf="lastname.errors.minlength">
                                        Last Name must be at least 3 characters long.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Email</label>
                                <input #email="ngModel"
                                       class="form-control"
                                       name="email"
                                       id="email"
                                       placeholder="Enter Email"
                                       email
                                       ngModel
                                       required>
                                <div
                                    class="alert alert-danger"
                                    *ngIf="email.invalid && email.touched"
                                >
                                    Invalid Email, example foulen@domain
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="password">Password</label>
                                <input #password="ngModel"
                                       type="password"
                                       class="form-control"
                                       name="password"
                                       id="password"
                                       placeholder="Enter Password"
                                       minlength="5"
                                       ngModel
                                       required>
                                <div
                                    class="alert alert-danger"
                                    *ngIf="password.invalid && password.touched"
                                >
                                    <div *ngIf="password.errors.required">
                                        Password is required.
                                    </div>
                                    <div *ngIf="password.errors.minlength">
                                        Password must be at least 5 characters long.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="occupation">Occupation</label>
                            <input #occupation="ngModel"
                                   type="text"
                                   class="form-control"
                                   name="occupation"
                                   id="occupation"
                                   placeholder="Enter Occupation"
                                   minlength="5"
                                   maxlength="30"
                                   ngModel
                                   required>
                            <div
                                class="alert alert-danger"
                                *ngIf="occupation.invalid && occupation.touched"
                            >
                                <div *ngIf="occupation.errors.required">
                                    Occupation is required.
                                </div>
                                <div *ngIf="occupation.errors.minlength">
                                    Occupation must be at least 5 characters long.
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="cin">Identity Card Number</label>
                                <input #cin="ngModel"
                                       type="number"
                                       class="form-control"
                                       name="cin"
                                       id="cin"
                                       placeholder="Enter Identity Card Number"
                                       [pattern]="cinPattern"
                                       ngModel
                                       required>
                                <div
                                    class="alert alert-danger"
                                    *ngIf="cin.invalid && cin.touched"
                                >
                                    <div *ngIf="cin.errors.required">
                                        Identity Card is required.
                                    </div>
                                    <div *ngIf="cin.errors.pattern">
                                        Identity Card must be 8 characters long.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="age">Age</label>
                                <input #age="ngModel"
                                       type="number"
                                       class="form-control"
                                       name="age"
                                       id="age"
                                       placeholder="Enter Age"
                                       [pattern]="agePattern"
                                       ngModel
                                       required>
                                <div
                                    class="alert alert-danger"
                                    *ngIf="age.invalid && age.touched"
                                >
                                    <div *ngIf="age.errors.required">
                                        Age is required.
                                    </div>
                                    <div *ngIf="age.errors.pattern">
                                        Age must be 10 and 99 years old.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button 
                            type="submit"
                            class="btn btn-success"
                            style="margin-right: 20px;"
                            [disabled]="addStudentForm.invalid"
                            (click)="addStudent(addStudentForm.value)"
                        >
                            Add Teacher
                        </button>
                        <button type="reset" class="btn btn-warning">Cancel</button>
                    </form>                    
                </div>
            </div>
        </div>
    </div>
</div>