<div>
    <div class="all-title-box">
        <div class="container text-center">
            <h1>My Courses<span class="m_1">Lorem Ipsum dolroin gravida nibh vel velit.</span></h1>
        </div>
    </div>

    <div id="bookers" class="section wb">
        <div class="container">
            <div>
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th>Course Name</th>
                            <th>Period (Months)</th>
                            <th>Max Students</th>
                            <th>Number of Books</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let myCourse of myCourses">
                            <td>{{myCourse.course}}</td>
                            <td>{{myCourse.period}}</td>
                            <td>{{myCourse.maxStudent}}</td>
                            <td>{{myCourse.numberOfBooks}}</td>
                        </tr>             
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    
    