
<div class="image-blog" style="border: 1px solid">
    <img src="{{course.photoPath}}" alt="" class="img-fluid">
</div>
<div class="course-br">
    <div class="course-title">
        <h2>{{course.course}}</h2>
    </div>
    <div class="course-desc">
        <p>{{course.description}}</p>
    </div>
    <div class="course-rating">
        4.5
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>	
        <i class="fa fa-star"></i>	
        <i class="fa fa-star-half"></i>								
    </div>
</div>
<div class="course-meta-bot">
    <ul>
        <li><i class="fa fa-calendar" aria-hidden="true"></i> {{course.period}} Months</li>
        <li><i class="fa fa-users" aria-hidden="true"></i> {{course.maxStudent}} Students</li>
        <li><i class="fa fa-book" aria-hidden="true"></i> {{course.numberOfBooks}} Books</li>
    </ul>
</div>
<div class="course-meta-bot">
    <ul>
        <li>
            <button type="button"
                    class="btn btn-outline-success"
                    *ngIf="authenticationService.isUserAdmin()"
                    routerLink="editCourse/{{course.id}}">
                Edit
            </button>
        </li>
        <li>
            <button type="button"
                    class="btn btn-outline-danger"
                    *ngIf="authenticationService.isUserAdmin()"
                    (click)="deleteCourse()">
                Delete
            </button>
        </li>
    </ul>
</div>