<div class="team-img">
    <img src="{{student.photoPath}}">
    <div class="social">
        <ul>
            <ul class="list-inline m-0">
                <li class="list-inline-item">
                    <button class="btn btn-success"
                            type="button"
                            title="Edit"
                            routerLink="editStudent/{{student.id}}"><i class="fa fa-edit"></i></button>
                </li>
                <li class="list-inline-item">
                    <button class="btn btn-danger"
                            type="button"
                            title="Delete"
                            (click)="deleteStudent()"><i class="fa fa-trash"></i></button>
                </li>
            </ul>
        </ul>
    </div>
</div>
<div class="team-content">
    <h3 class="title">{{student.firstname}} {{student.lastname}}</h3>
    <span class="post">{{student.occupation}} Student</span>
</div>