<div class="all-title-box">
    <div class="container text-center">
        <h1>Blog</h1>
    </div>
</div>

<div id="overviews" class="section wb">
    <div class="container">
        <div class="section-title row text-center">
            <div class="col-md-8 offset-md-2">
                <p class="lead">In our Blog you may find articles written by our finest teachers and students about our school and education process</p>
            </div>
        </div>

        <hr class="invis"> 

        <div class="row"> 
            <div class="col-lg-4 col-md-6 col-12">
                <div class="blog-item">
                    <div class="image-blog">
                        <img src="../assets/images/blog_1.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="meta-info-blog">
                        <span><i class="fa fa-calendar"></i> <a href="#">May 11, 2019</a> </span>
                        <span><i class="fa fa-tag"></i>  <a href="#">News</a> </span>
                        <span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>
                    </div>
                    <div class="blog-title">
                        <h2><a href="#" title="">10 Advantages of Online Classes.</a></h2>
                    </div>
                    <div class="blog-desc">
                        <p>According to the OEDb (open education database), there are 10 advantages to taking online classes. As an instructional designer I could probably argue that there are more, but let’s start with 10 for now. Here is a list of the 10 advantages to taking an online class.... </p>
                    </div>
                    <div class="blog-button">
                        <a class="hover-btn-new orange" href="#"><span>Read More</span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="blog-item">
                    <div class="image-blog">
                        <img src="../assets/images/blog_2.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="meta-info-blog">
                        <span><i class="fa fa-calendar"></i> <a href="#">January 29, 2020</a> </span>
                        <span><i class="fa fa-tag"></i>  <a href="#">News</a> </span>
                        <span><i class="fa fa-comments"></i> <a href="#">19 Comments</a></span>
                    </div>
                    <div class="blog-title">
                        <h2><a href="#" title="">Cybersecurity for the Stay-at-Home Semester (Infographic).</a></h2>
                    </div>
                    <div class="blog-desc">
                        <p>With the shift of learning to online platforms, cybersecurity remains a crucial objective to keep in mind. By following the below tips, you can ensure that you and your students’ learning takes place in a secure, confidential, and positive environment!.... </p>
                    </div>
                    <div class="blog-button">
                        <a class="hover-btn-new orange" href="#"><span>Read More</span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="blog-item">
                    <div class="image-blog">
                        <img src="../assets/images/blog_3.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="meta-info-blog">
                        <span><i class="fa fa-calendar"></i> <a href="#">July 02, 2019</a> </span>
                        <span><i class="fa fa-tag"></i>  <a href="#">News</a> </span>
                        <span><i class="fa fa-comments"></i> <a href="#">5 Comments</a></span>
                    </div>
                    <div class="blog-title">
                        <h2><a href="#" title="">Introduction to Online Learning Terminology.</a></h2>
                    </div>
                    <div class="blog-desc">
                        <p>Now is an exciting time for both instructors and students to learn more about online education and distance learning! As with any field, online learning comes with its own set of terms.... </p>
                    </div>
                    <div class="blog-button">
                        <a class="hover-btn-new orange" href="#"><span>Read More</span></a>
                    </div>
                </div>
            </div>
        </div>

        <hr class="hr3"> 

        <div class="row"> 
            <div class="col-lg-4 col-md-6 col-12">
               <div class="blog-item">
                    <div class="image-blog">
                        <img src="../assets/images/blog_4.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="meta-info-blog">
                        <span><i class="fa fa-calendar"></i> <a href="#">May 20, 2019</a> </span>
                        <span><i class="fa fa-tag"></i>  <a href="#">News</a> </span>
                        <span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>
                    </div>
                    <div class="blog-title">
                        <h2><a href="#" title="">4 Tips for Keeping Students Engaged in Online Learning.</a></h2>
                    </div>
                    <div class="blog-desc">
                        <p>Your class has moved online and now that you’re comfortable with technology, let’s discuss new ways to keep the course engaging for you and your students. Here are four EASY and essential tips for making your online assignments engaging!.... </p>
                    </div>
                    <div class="blog-button">
                        <a class="hover-btn-new orange" href="#"><span>Read More</span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="blog-item">
                    <div class="image-blog">
                        <img src="../assets/images/blog_5.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="meta-info-blog">
                        <span><i class="fa fa-calendar"></i> <a href="#">August 25, 2019</a> </span>
                        <span><i class="fa fa-tag"></i>  <a href="#">News</a> </span>
                        <span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>
                    </div>
                    <div class="blog-title">
                        <h2><a href="#" title="">Lecture Breakers Podcast: 5 Ways to Help Students Succeed in Online Courses.</a></h2>
                    </div>
                    <div class="blog-desc">
                        <p>In this episode of Lecture Breakers, a podcast devoted to helping educators teach in more engaging ways, Holly Owens shares 5 ways to help students succeed in online courses. Holly discusses course design strategies to increase student engagement and ways to leverage technology tools to improve learning.... </p>
                    </div>
                    <div class="blog-button">
                        <a class="hover-btn-new orange" href="#"><span>Read More</span></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="blog-item">
                    <div class="image-blog">
                        <img src="../assets/images/blog_6.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="meta-info-blog">
                        <span><i class="fa fa-calendar"></i> <a href="#">May 11, 2018</a> </span>
                        <span><i class="fa fa-tag"></i>  <a href="#">News</a> </span>
                        <span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>
                    </div>
                    <div class="blog-title">
                        <h2><a href="#" title="">3 Tech Tools to Increase Participation in Virtual Discussions.</a></h2>
                    </div>
                    <div class="blog-desc">
                        <p>In this blog post, I want to introduce you to some easy-to-use tech tools have the potential to provide exciting and innovative ways for virtual discussion to take place and increase student engagement. Read below to learn more about three tech tools that can be especially interesting for students: Padlet, Flipgrid, and Yellowdig.</p>
                    </div>
                    <div class="blog-button">
                        <a class="hover-btn-new orange" href="#"><span>Read More</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>