<div *ngIf="teacherOutlet.isActivated == false">
        <div class="all-title-box">
            <div class="container text-center">
                <h1>Students<span class="m_1">Lorem Ipsum dolroin gravida nibh vel velit.</span></h1>
            </div>
        </div>
    
        <div id="teachers" class="section wb">
            <div class="container">
    
                <button type="button"
                    class="btn btn-danger btn-lg" 
                    (click)="deleteAllStudents()"
                    *ngIf="manageStudentsService.studentsList.length && authenticationService.isUserAdmin()"
                    style="margin-right: 20px">Delete All Students</button>
    
                <button type="button"
                    class="btn btn-success btn-lg" 
                    routerLink='addStudent'
                    *ngIf="manageStudentsService.studentsList.length && authenticationService.isUserAdmin()">Add Student</button>
    
                <hr class="invis"> 
    
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12" *ngFor="let student of manageStudentsService.studentsList">
                        <div class="our-team">
                            <app-student [student]="student"></app-student>
                        </div>
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end section -->
    </div>
    
    <router-outlet #teacherOutlet="outlet"></router-outlet>