<div *ngIf="outlet.isActivated == false" id="carouselExampleControls" class="carousel slide bs-slider box-slider" data-ride="carousel" data-pause="hover" data-interval="false" >
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div id="home" class="first-section" style="background-image:url('../../assets/images/slider-01.jpg');">
                <div class="dtab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 text-right">
                                <div class="big-tagline">
                                    <h2><strong>SmartNESS </strong> Education School</h2>
                                        <a [ngClass]="{'active': activeMenuItemService.activeContact}" 
                                           (click)="activeMenuItemService.activateContact()"
                                           routerLink='/contact' class="hover-btn-new"
                                        >
                                           <span>Contact Us</span>
                                        </a>
                                </div>
                            </div>
                        </div>          
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="overviews" class="section wb">
    <div class="container">
        <div class="section-title row text-center">
            <div class="col-md-8 offset-md-2">
                <h3>About</h3>
                <p class="lead">We are SmartNESS, an online education school. We offer the best academic eduction program for our students to get the best job opportunities. we also give a job to poeple who are able to teach some subjects and act as instructors and mentors for a better education environment.</p>
            </div>
        </div>
    
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="message-box">
                    <h4>SmartNESS : 2020 BEST online education school</h4>
                    <h2>Welcome to SmartNESS education school</h2>
                    <p>In our online school, we welcome you and give you the chance that you never had before to be able to level up and make your working life easier. </p>

                    <p>Our individualized approach meets students where they are accommodating mutiple learning styles annd sparkling the joy of learning. </p>

                    <a href="#" class="hover-btn-new orange"><span>Learn More</span></a>
                </div>
            </div>
            
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="post-media wow fadeIn">
                    <img src="../../assets/images/about_02.jpg" alt="" class="img-fluid img-rounded">
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="post-media wow fadeIn">
                    <img src="../../assets/images/about_03.jpg" alt="" class="img-fluid img-rounded">
                </div>
            </div>
            
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="message-box">
                    <h2>Grade level and goal in SmartNESS</h2>
                    <p>At every grade level, students take core courses in math, science, language arts/English, social studies, and electives, and work from a state-approved, high-quality curriculum with support from certified teachers. The goal? To prepare your student for college and career success.</p>

                    <a href="#" class="hover-btn-new orange"><span>Learn More</span></a>
                </div>
            </div>
            
        </div>
    </div>
</div>


<router-outlet #outlet="outlet"></router-outlet>